In [1]:
from pyspark.sql import Row
import datetime
import decimal

# Criar dois DataFrames de exemplo
data1 = [
    Row(name="Samuel", age=30, job="Engenheiro de Dados"),
    Row(name="Marta", age=40, job="Cientista de Dados")
]

data2 = [
    Row(name="Paula", age=35, job="Desenvolvedora"),
    Row(name="Carlos", age=45, job="Engenheiro de Software")
]

df1 = spark.createDataFrame(data1)
df2 = spark.createDataFrame(data2)

VBox()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [2]:
df1.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+---+-------------------+
|  name|age|                job|
+------+---+-------------------+
|Samuel| 30|Engenheiro de Dados|
| Marta| 40| Cientista de Dados|
+------+---+-------------------+

In [3]:
df2.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+---+--------------------+
|  name|age|                 job|
+------+---+--------------------+
| Paula| 35|      Desenvolvedora|
|Carlos| 45|Engenheiro de Sof...|
+------+---+--------------------+

In [4]:
# Realizar a operação de união
union_df = df1.union(df2)

# Mostrar o resultado
union_df.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+---+--------------------+
|  name|age|                 job|
+------+---+--------------------+
|Samuel| 30| Engenheiro de Dados|
| Marta| 40|  Cientista de Dados|
| Paula| 35|      Desenvolvedora|
|Carlos| 45|Engenheiro de Sof...|
+------+---+--------------------+

In [5]:
# Dados fornecidos
data = [
    ('Samuel', 10.25, 30, 'Engenheiro de Dados', False, datetime.date(2019, 3, 22), datetime.datetime(2023, 10, 1, 12, 0, 0), 123456789012346,
     3.8, bytearray(b'\x00\x02'), ['Java', 'PySpark', 'Ritmo Ragatanga', 'Hadoop'], {'Chave1': 'Valor3', 'Chave2': 'Valor4'},
     {'Rua': 'Rua B', 'Cidade': 'Cidade Y', 'CEP': '23456-789'}, decimal.Decimal('10.25')),
    ('Marta', 12500.0, 40, 'Cientista de Dados', True, datetime.date(2018, 5, 5), datetime.datetime(2023, 10, 1, 12, 0, 0), 123456789012347,
     4.0, bytearray(b'\x00\x03'), ['R', 'Python'], {'Chave1': 'Valor5', 'Chave2': 'Valor6'},
     {'Rua': 'Rua C', 'Cidade': 'Cidade Z', 'CEP': '34567-890'}, decimal.Decimal('12500.00')),
    ('Paula', 7500.0, 35, 'Desenvolvedora', False, datetime.date(2017, 7, 10), datetime.datetime(2023, 10, 1, 12, 0, 0), 123456789012348,
     4.2, bytearray(b'\x00\x04'), ['Java', 'Python'], {'Chave1': 'Valor7', 'Chave2': 'Valor8'},
     {'Rua': 'Rua D', 'Cidade': 'Cidade W', 'CEP': '45678-901'}, decimal.Decimal('7500.00')),
    ('Carlos', 15000.0, 45, 'Engenheiro de Software', True, datetime.date(2016, 9, 30), datetime.datetime(2023, 10, 1, 12, 0, 0), 123456789012349,
     4.9, bytearray(b'\x00\x05'), ['Java', 'Scala'], {'Chave1': 'Valor9', 'Chave2': 'Valor10'},
     {'Rua': 'Rua E', 'Cidade': 'Cidade V', 'CEP': '56789-012'}, decimal.Decimal('15000.00')),
    ('Laura', 10000.0, 50, 'Analista de Dados', False, datetime.date(2015, 12, 20), datetime.datetime(2023, 10, 1, 12, 0, 0), 123456789012350,
     4.7, bytearray(b'\x00\x06'), ['Python', 'SQL'], {'Chave1': 'Valor11', 'Chave2': 'Valor12'},
     {'Rua': 'Rua F', 'Cidade': 'Cidade U', 'CEP': '67890-123'}, decimal.Decimal('10000.00')),
    ('Mariana', 7500.0, 55, 'Desenvolvedora', True, datetime.date(2014, 2, 15), datetime.datetime(2023, 10, 1, 12, 0, 0), 123456789012351,
     4.3, bytearray(b'\x00\x07'), ['Java', 'Scala'], {'Chave1': 'Valor13', 'Chave2': 'Valor14'},
     {'Rua': 'Rua G', 'Cidade': 'Cidade T', 'CEP': '78901-234'}, decimal.Decimal('7500.00')),
    ('Fernanda', 20000.0, 60, 'Engenheira de Dados', False, datetime.date(2013, 4, 5), datetime.datetime(2023, 10, 1, 12, 0, 0), 123456789012352,
     4.6, bytearray(b'\x00\x08'), ['Python', 'Spark'], {'Chave1': 'Valor15', 'Chave2': 'Valor16'},
     {'Rua': 'Rua H', 'Cidade': 'Cidade S', 'CEP': '89012-345'}, decimal.Decimal('20000.00')),
    ('Ricardo', 5000.0, 65, 'Analista de Dados', True, datetime.date(2012, 6, 10), datetime.datetime(2023, 10, 1, 12, 0, 0), 123456789012353,
     4.1, bytearray(b'\x00\x09'), ['R', 'Python'], {'Chave1': 'Valor17', 'Chave2': 'Valor18'},
     {'Rua': 'Rua I', 'Cidade': 'Cidade R', 'CEP': '90123-456'}, decimal.Decimal('5000.00')),
    ('Samuel', 5000.0, 65, 'Agiota', True, datetime.date(2012, 6, 10), datetime.datetime(2023, 10, 1, 12, 0, 0), 123456789012353,
     4.1, bytearray(b'\x00\x09'), ['So quebra, nao mata'], {'Chave1': 'Valor17', 'Chave2': 'Valor18'},
     {'Rua': 'Rua I', 'Cidade': 'Cidade R', 'CEP': '90123-456'}, decimal.Decimal('5000.00'))
]

# Definir o esquema do DataFrame
schema = ["name", "salary", "age", "job", "is_active", "start_date", "last_update", "id", "rating", "binary_data", "skills", "metadata", "address", "bonus"]

# Criar o DataFrame
df = spark.createDataFrame(data, schema)

# Registrar o DataFrame como uma tabela temporária
df.createOrReplaceTempView("employees")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [6]:
# Exemplos de consultas SQL

# 1. Selecionar todos os dados
result1 = spark.sql("SELECT * FROM employees")
result1.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+-------+---+--------------------+---------+----------+-------------------+---------------+------+-----------+--------------------+--------------------+--------------------+--------------------+
|    name| salary|age|                 job|is_active|start_date|        last_update|             id|rating|binary_data|              skills|            metadata|             address|               bonus|
+--------+-------+---+--------------------+---------+----------+-------------------+---------------+------+-----------+--------------------+--------------------+--------------------+--------------------+
|  Samuel|  10.25| 30| Engenheiro de Dados|    false|2019-03-22|2023-10-01 12:00:00|123456789012346|   3.8|    [00 02]|[Java, PySpark, R...|{Chave1 -> Valor3...|{CEP -> 23456-789...|10.25000000000000...|
|   Marta|12500.0| 40|  Cientista de Dados|     true|2018-05-05|2023-10-01 12:00:00|123456789012347|   4.0|    [00 03]|         [R, Python]|{Chave1 -> Valor5...|{CEP -> 34567-890...|12500.00000000000...|
|   Paula| 7500.0| 35|      Desenvolvedora|    false|2017-07-10|2023-10-01 12:00:00|123456789012348|   4.2|    [00 04]|      [Java, Python]|{Chave1 -> Valor7...|{CEP -> 45678-901...|7500.000000000000...|
|  Carlos|15000.0| 45|Engenheiro de Sof...|     true|2016-09-30|2023-10-01 12:00:00|123456789012349|   4.9|    [00 05]|       [Java, Scala]|{Chave1 -> Valor9...|{CEP -> 56789-012...|15000.00000000000...|
|   Laura|10000.0| 50|   Analista de Dados|    false|2015-12-20|2023-10-01 12:00:00|123456789012350|   4.7|    [00 06]|       [Python, SQL]|{Chave1 -> Valor1...|{CEP -> 67890-123...|10000.00000000000...|
| Mariana| 7500.0| 55|      Desenvolvedora|     true|2014-02-15|2023-10-01 12:00:00|123456789012351|   4.3|    [00 07]|       [Java, Scala]|{Chave1 -> Valor1...|{CEP -> 78901-234...|7500.000000000000...|
|Fernanda|20000.0| 60| Engenheira de Dados|    false|2013-04-05|2023-10-01 12:00:00|123456789012352|   4.6|    [00 08]|     [Python, Spark]|{Chave1 -> Valor1...|{CEP -> 89012-345...|20000.00000000000...|
| Ricardo| 5000.0| 65|   Analista de Dados|     true|2012-06-10|2023-10-01 12:00:00|123456789012353|   4.1|    [00 09]|         [R, Python]|{Chave1 -> Valor1...|{CEP -> 90123-456...|5000.000000000000...|
|  Samuel| 5000.0| 65|              Agiota|     true|2012-06-10|2023-10-01 12:00:00|123456789012353|   4.1|    [00 09]|[So quebra, nao m...|{Chave1 -> Valor1...|{CEP -> 90123-456...|5000.000000000000...|
+--------+-------+---+--------------------+---------+----------+-------------------+---------------+------+-----------+--------------------+--------------------+--------------------+--------------------+

In [7]:
# 2. Selecionar apenas os nomes e salários
result2 = spark.sql("SELECT name, salary FROM employees")
result2.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+-------+
|    name| salary|
+--------+-------+
|  Samuel|  10.25|
|   Marta|12500.0|
|   Paula| 7500.0|
|  Carlos|15000.0|
|   Laura|10000.0|
| Mariana| 7500.0|
|Fernanda|20000.0|
| Ricardo| 5000.0|
|  Samuel| 5000.0|
+--------+-------+

In [8]:
# 3. Filtrar por salário maior que 10000
result3 = spark.sql("SELECT name, salary FROM employees WHERE salary > 10000")
result3.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+-------+
|    name| salary|
+--------+-------+
|   Marta|12500.0|
|  Carlos|15000.0|
|Fernanda|20000.0|
+--------+-------+

In [9]:
# 4. Agrupar por profissão e calcular a média salarial
result4 = spark.sql("SELECT job, AVG(salary) as avg_salary FROM employees GROUP BY job")
result4.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+----------+
|                 job|avg_salary|
+--------------------+----------+
| Engenheiro de Dados|     10.25|
|  Cientista de Dados|   12500.0|
|Engenheiro de Sof...|   15000.0|
|      Desenvolvedora|    7500.0|
|   Analista de Dados|    7500.0|
|              Agiota|    5000.0|
| Engenheira de Dados|   20000.0|
+--------------------+----------+

In [10]:
# 5. Ordenar por idade em ordem decrescente
result5 = spark.sql("SELECT name, age FROM employees ORDER BY age DESC")
result5.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+---+
|    name|age|
+--------+---+
| Ricardo| 65|
|  Samuel| 65|
|Fernanda| 60|
| Mariana| 55|
|   Laura| 50|
|  Carlos| 45|
|   Marta| 40|
|   Paula| 35|
|  Samuel| 30|
+--------+---+

In [11]:
df = spark.read.csv("./workspace/samuk/vgsales.csv", header = True)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

An error was encountered:
[PATH_NOT_FOUND] Path does not exist: hdfs://ip-10-120-167-113.sa-east-1.compute.internal:8020/user/livy/workspace/samuk/vgsales.csv.
Traceback (most recent call last):
  File "/mnt/yarn/usercache/livy/appcache/application_1730479023085_0010/container_1730479023085_0010_01_000002/pyspark.zip/pyspark/sql/readwriter.py", line 727, in csv
    return self._df(self._jreader.csv(self._spark._sc._jvm.PythonUtils.toSeq(path)))
  File "/mnt/yarn/usercache/livy/appcache/application_1730479023085_0010/container_1730479023085_0010_01_000002/py4j-0.10.9.7-src.zip/py4j/java_gateway.py", line 1323, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/mnt/yarn/usercache/livy/appcache/application_1730479023085_0010/container_1730479023085_0010_01_000002/pyspark.zip/pyspark/errors/exceptions/captured.py", line 175, in deco
    raise converted from None
pyspark.errors.exceptions.captured.AnalysisException: [PATH_NOT_FOUND] Path does not exist: hdfs://ip-10-120-167-113.sa-east-1.compute.internal:8020/user/livy/workspace/samuk/vgsales.csv.

In [12]:
## https://www.kaggle.com/datasets/gregorut/videogamesales/data

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [13]:
df.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+-------+---+--------------------+---------+----------+-------------------+---------------+------+-----------+--------------------+--------------------+--------------------+--------------------+
|    name| salary|age|                 job|is_active|start_date|        last_update|             id|rating|binary_data|              skills|            metadata|             address|               bonus|
+--------+-------+---+--------------------+---------+----------+-------------------+---------------+------+-----------+--------------------+--------------------+--------------------+--------------------+
|  Samuel|  10.25| 30| Engenheiro de Dados|    false|2019-03-22|2023-10-01 12:00:00|123456789012346|   3.8|    [00 02]|[Java, PySpark, R...|{Chave1 -> Valor3...|{CEP -> 23456-789...|10.25000000000000...|
|   Marta|12500.0| 40|  Cientista de Dados|     true|2018-05-05|2023-10-01 12:00:00|123456789012347|   4.0|    [00 03]|         [R, Python]|{Chave1 -> Valor5...|{CEP -> 34567-890...|12500.00000000000...|
|   Paula| 7500.0| 35|      Desenvolvedora|    false|2017-07-10|2023-10-01 12:00:00|123456789012348|   4.2|    [00 04]|      [Java, Python]|{Chave1 -> Valor7...|{CEP -> 45678-901...|7500.000000000000...|
|  Carlos|15000.0| 45|Engenheiro de Sof...|     true|2016-09-30|2023-10-01 12:00:00|123456789012349|   4.9|    [00 05]|       [Java, Scala]|{Chave1 -> Valor9...|{CEP -> 56789-012...|15000.00000000000...|
|   Laura|10000.0| 50|   Analista de Dados|    false|2015-12-20|2023-10-01 12:00:00|123456789012350|   4.7|    [00 06]|       [Python, SQL]|{Chave1 -> Valor1...|{CEP -> 67890-123...|10000.00000000000...|
| Mariana| 7500.0| 55|      Desenvolvedora|     true|2014-02-15|2023-10-01 12:00:00|123456789012351|   4.3|    [00 07]|       [Java, Scala]|{Chave1 -> Valor1...|{CEP -> 78901-234...|7500.000000000000...|
|Fernanda|20000.0| 60| Engenheira de Dados|    false|2013-04-05|2023-10-01 12:00:00|123456789012352|   4.6|    [00 08]|     [Python, Spark]|{Chave1 -> Valor1...|{CEP -> 89012-345...|20000.00000000000...|
| Ricardo| 5000.0| 65|   Analista de Dados|     true|2012-06-10|2023-10-01 12:00:00|123456789012353|   4.1|    [00 09]|         [R, Python]|{Chave1 -> Valor1...|{CEP -> 90123-456...|5000.000000000000...|
|  Samuel| 5000.0| 65|              Agiota|     true|2012-06-10|2023-10-01 12:00:00|123456789012353|   4.1|    [00 09]|[So quebra, nao m...|{Chave1 -> Valor1...|{CEP -> 90123-456...|5000.000000000000...|
+--------+-------+---+--------------------+---------+----------+-------------------+---------------+------+-----------+--------------------+--------------------+--------------------+--------------------+